<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Calculadora de Descuento en Almacén</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form">
          <mat-form-field>
            <mat-label>Ingrese la Cantidad de Productos</mat-label>
            <input matInput type="number" [(ngModel)]="cantidadProductos" name="cantidadProductos">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ingrese el Precio Unitario por Producto</mat-label>
            <input matInput type="number" [(ngModel)]="precioUnitario" name="precioUnitario">
          </mat-form-field>
        </div>
        <div class="result">
          <p *ngIf="calcularTotal() > 0">Total a pagar: {{ calcularTotal() | currency:'USD':'symbol':'1.2-2' }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="calcularTotal()">Calcular Total</button>
      </mat-card-actions>
    </mat-card>
  </div>